version: 2
jobs:
   build:
     docker:
       - image: microsoft/aspnetcore-build:2.0
     steps:
       - checkout
       - setup_remote_docker:
          version: 17.07.0-ce
       - run:
          name: Install Docker client
          command: |
            curl -fsSL get.docker.com -o get-docker.sh
            sh get-docker.sh
       - run: |
          TAG=0.1.$CIRCLE_BUILD_NUM
          docker build -t aspcoreapitest:$TAG .